*{
  background-color: darkgrey;
}

body{
  align-items: center;
  align-content: center;
  margin: auto;
  text-align: center;
  padding: 100px;
}
hr{
  height: 10px;
}
button{
  margin-bottom: 30px;
  
}

#box {
margin: auto;
text-align: center;
width: 150px;
height: 150px;
font-weight: bold;
font-size: larger;
align-items: center;
margin-bottom: 30px;



}